body {
  text-align:center;
}
#luckyBtn{
  font-size: 8vw;
  /*
  margin:0 auto;
  border-radius:3vw;
  width:80vw ;
  height:80vh;
  border-radius:5vw;
  margin:0 auto;

  text-align:center;
  font-size: 7vw;

  background-color: #032070;
  box-shadow:10px 10px 10px #031442;
  */
}
